@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center mt-xl-5">
    <h1 class="display-4">Hi there. I am Chuong!</h1>
    <h5>I am learning about building apps with <strong>ASP.NET Core</strong>, <strong>Razor pages</strong>, <strong>Bootstrap</strong>, and <strong>different libraries</strong>.</h5>
    <p>Visit my <a href="https://www.linkedin.com/in/dang-chuong-pham-669041153/">LinkedIn</a> or <a href="https://github.com/CodeLyoko2610"> GitHub</a> to learn more about me!</p>
</div>
